.container {
    width: 890px;
    margin: 0 auto;
}

/* #region导航栏start */
.topbar {
    height: 30px;
    background-color: #ECECEC;
}
.topbar .container {
    height: 30px;
}

.topbar .welcome {
    font-size: 0;
    line-height: 30px;
    color: #666;
    height: 30px;
}
.welcome span, .welcome a {
    font-size: 12px;
}
.welcome-text {
    margin-right: 16px;
}
.welcome .login{
    padding-right: 8px;
    border-right: 1px #666 solid;
}

.welcome .register {
    padding-left: 8px;
}

.top-nav li{
    font-size: 12px;
    color: #666;
    float: left;
    height: 30px;
    line-height: 30px;
}
.top-nav li a {
    padding-left: 8px;
    padding-right: 8px;
    border-right: #666 1px solid;
}
.top-nav .list li:first-child a {
    padding-left: 0;
}
.top-nav .list li:last-child a {
    padding-right: 0;
    border: 0;
}
/* #endregion导航栏end */

/* #region头部start */
.header {
    height: 100px;
}
.header .container {
    height: 100px;
    /* overflow: hidden; */
}
.header .logo {
    margin-top: 26px;
}
.header img {
    width: 90px;
}
.header .search form {
    font-size: 0;
    margin-top: 37.5px;
}
.header .search input{
    width: 250px;
    height: 25px;
    border: 1px solid rgb(72, 167, 208);
}
.header .search button {
    width: 40px;
    height: 27px;
    vertical-align: top;
    background-color: rgb(72, 167, 208);
    background-image: url('../images/assets/serch_icon.png');
    background-repeat: no-repeat;
    background-position: 8px 1.5px;
}
/* #endregion头部end */

/* #region主导航start */
.main-bar {
    height: 48px;
    border-bottom: 1px solid rgb(122, 221, 234);
}
.main-bar .all-types {
    width: 200px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: white;
    background-color: rgb(72, 167, 208);
}

.main-bar ul li {
    float: left;
    line-height: 48px;
}
.main-bar ul li a {
    margin: 0 15px;
    font-weight: bold;
}
/* #endregion主导航end */

/* #region内容 */
.content {
    height: 400px;
    margin-top: 6px;
}
.content .side-nav {
    height: 400px;
    width: 200px;
    background-color: rgb(222, 248, 249);
    position: relative;
}
.content .side-nav li {
    height: 28px;
    line-height: 28px;
}
.content .side-nav li:hover{
    background-color: rgb(72, 167, 208);
}
.content .side-nav li>a{
    margin-left: 40px;
}
.content .side-nav li:hover>a{
    color: white;
}
.content .side-nav li:hover div{
    display: block;
}
.content .side-nav div {
    width: 420px;
    height: 400px;
    background-color: rgb(234, 248, 248);
    position: absolute;
    left: 200px;
    top:0;
    font-size: 12px;
    padding-left: 15px;
    display: none;
}
.content .side-nav dt {
    float: left;
    font-weight: bold;
    width: 60px;
}

.content .side-nav dd {
    float: left;
}
.content .side-nav dd a{
    padding: 0 8px;
    border-left: solid 1px #bebcbc;
}

.content .banner {
    height: 400px;
    width: 430px;
    margin: 0 5px;
    background-color: rgb(168, 179, 169);
}
.content .banner img {
    height: 400px;
    width: 430px;
}

.content .side-others {
    height: 400px;
    width: 250px;
}
.content .side-others .message {
    height: 148px;
    width: 218px;
    border: 1px solid rgb(219, 165, 126);
    padding: 0 15px;
}
.content .side-others .message .title{
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid rgb(241, 217, 186);
}
.content .side-others .message span{
    font-size: 14px;
}
.content .side-others .message a{
    font-size: 12px;
}
.content .side-others .msg-list li{
    height: 27px;
    line-height: 27px;
}
.content .side-others .card-nav {
    width: 250px;
    height: 240px;
    margin-top: 10px;
    overflow: hidden;
}
.card-nav ul li {
    float: left;
    width: 48px;
    height: 70px;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
}
.card-nav ul li:first-child {
    margin-left: 14px;
}
.card-nav ul:first-child {
    margin-top: 6px;
}
.card-nav ul:nth-child(2) {
    margin: 8px 0;
}
.card-nav ul .pic {
    width: 48px;
    height: 48px;
    background-image: url(../images/assets/精灵图-侧边功能.png);
}
#pic1 {
    background-position: -1px 0;
}
#pic2 {
    background-position: -49px 0;
}
#pic3 {
    background-position: -97px 0;
}
#pic4 {
    background-position: -145px 0;
}
#pic5 {
    background-position: -1px -49px;
}
#pic6 {
    background-position: -49px -49px;
}
#pic7 {
    background-position: -97px -49px;
}
#pic8 {
    background-position: -145px -49px;
}
#pic9 {
    background-position: -1px -97px;
}
#pic10 {
    background-position: -49px -97px;
}
#pic11 {
    background-position: -97px -97px;
}
#pic12 {
    background-position: -145px -97px;
}
/* #endregion内容 */

/* #region页脚 */
.footer {
    margin-top: 10px;
    height: 200px;
    background-color: rgb(230, 242, 235);
}

.footer .item {
    height: 100px;
    width: 235px;
    float: left;
    margin: 15px 10px;
    padding: 0 20px;
}
.footer .item a {
    color: rgb(49, 102, 102);
    font-size: 12px;
}
.line {
    border: 1px solid rgb(147, 199, 147);
}
.bottom-links {
    text-align: center;
}
.bottom-links ul {
    display: inline-block;
    overflow: hidden;
}
.bottom-links ul li {
    float: left;
    margin: 0 15px;
    margin-top: 20px;
}
/* #endregion页脚 */